/* main text color: #2E2F42 */
/* secondary text color: #434455 */
/* akcent color: #4D5AE5 */

:root {
    --primary-text-color: #2E2F42 ; 
    --title-text-color: #434455 ;
    --akcent-color: #4D5AE5;
    --primary-bg-color: #ffffff;
    --logo-akcent-color: #F4F4FD;
    --btn-active-color: #404BBF;
}

/* Specialty */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    font-style: normal;
}

.list {
    list-style: none;
}

/* Button */
.button {
    color: var(--primary-bg-color);
    background-color: var(--akcent-color);
    font-weight: 500;
    font-size: 16px;
}

.button.primary {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}


.button.primary:hover, 
.button.primary:active,
.button.primary:focus {
    background-color: var(--btn-active-color);
}
/* Header */

/* Nav */

/* Logo */
.logo {
    color: var(--akcent-color);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.navigation{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--akcent-color);
}

.link {
    text-decoration: none;
}

.logo-span{
    color: var(--primary-text-color);
}

/* Menu */
.site-nav .navigation{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.site-nav .navigation:hover,
.site-nav .navigation:focus,
.site-nav .navigation:active {
    color: var(--btn-active-color);
    background-color: transparent;
}

/* Address */
.address{
    font-style: normal;
}

.address-nav .navigation{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-nav .navigation:hover,
.address-nav .navigation:active,
.address-nav .navigation:focus{
    color: var(--btn-active-color);
    background-color: transparent;
}

/* Hero */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: var(--primary-bg-color);
    text-align: center;
    line-height: 1.07;
}

/* Section-1*/

.features-list .title{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-list .paragraf {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section-2 */
.benefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Section-3 */
section.emploers {
    background-color: #F4F4FD;
}

.employers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.employers-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.employers-list .paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.employers-list .items{
    background-color: var(--primary-bg-color);
}

/* Footer */

footer {
    background-color: var(--primary-text-color);
}

.logo-span.footer{
    color: var(--logo-akcent-color);
}

footer .paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-akcent-color);
}

/* ========PORTFOLIO======== */
/* main text color: #2E2F42 */
/* secondary text color: #434455 */
/* akcent color: #4D5AE5 */

/* Section-Filters */
.button-filters {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--akcent-color);
    background-color: var(--logo-akcent-color);
}
.button-filters:hover,
.button-filters:focus,
.button-filters:active {
    background-color:  var(--btn-active-color);
    color: var(--primary-bg-color);
}

/* Section-Galery */
.galery-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.galery-list .paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}